// Font import
@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-Regular.ttf);
}

@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-SemiBold.ttf);
  font-weight: 500;
}

// Basic Utils
.text-xs {
  font-size: 12px;
}

/* Login */
.authentication-section {
  min-height: 100vh;
  background-color: var(--bs-light);
}

.authentication-body {
  margin-top: 120px;
}

// Input
.with-prepend-img {
  position: relative;

  .input-prepend-img {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-56%);
    z-index: 10;
  }

  input.form-control {
    padding-left: 50px;
    border-radius: var(--bs-border-radius) !important;
  }

  .error-msg {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-56%);
    z-index: 10;
    text-align: right;
    width: max-content;
    color: var(--bs-danger);
    font-size: 12px;
  }
}

// Dashboard
.dashboard {
  min-height: 100vh;

  .nav-section {
    border-radius: 12px;

    .header-links {
      .btn:hover,
      .btn-active {
        background-color: #efebff;
        color: var(--bs-primary) !important;

        path {
          fill: var(--bs-primary) !important;
        }
      }
    }
  }
}

// mobile screen
@media (max-width: 767px) {
  .authentication-section {
    background-color: var(--bs-white);

    .authentication-body {
      margin-top: 0;
      padding-top: 38px;

      .logo-wrapper {
        justify-content: start !important;
        margin-left: 27px;
      }

      .authentication-card {
        box-shadow: none !important;

        .logo-mobile {
          margin-bottom: 64px;
        }
      }
    }
  }
}
