@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-Regular.ttf);
}
@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: instrumentSans;
  src: url(../fonts/InstrumentSans-SemiBold.ttf);
  font-weight: 500;
}
.text-xs {
  font-size: 12px;
}

/* Login */
.authentication-section {
  min-height: 100vh;
  background-color: var(--bs-light);
}

.authentication-body {
  margin-top: 120px;
}

.with-prepend-img {
  position: relative;
}
.with-prepend-img .input-prepend-img {
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-56%);
  z-index: 10;
}
.with-prepend-img input.form-control {
  padding-left: 50px;
  border-radius: var(--bs-border-radius) !important;
}
.with-prepend-img .error-msg {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-56%);
  z-index: 10;
  text-align: right;
  width: max-content;
  color: var(--bs-danger);
  font-size: 12px;
}

.dashboard {
  min-height: 100vh;
}
.dashboard .nav-section {
  border-radius: 12px;
}
.dashboard .nav-section .header-links .btn:hover,
.dashboard .nav-section .header-links .btn-active {
  background-color: #efebff;
  color: var(--bs-primary) !important;
}
.dashboard .nav-section .header-links .btn:hover path,
.dashboard .nav-section .header-links .btn-active path {
  fill: var(--bs-primary) !important;
}

@media (max-width: 767px) {
  .authentication-section {
    background-color: var(--bs-white);
  }
  .authentication-section .authentication-body {
    margin-top: 0;
    padding-top: 38px;
  }
  .authentication-section .authentication-body .logo-wrapper {
    justify-content: start !important;
    margin-left: 27px;
  }
  .authentication-section .authentication-body .authentication-card {
    box-shadow: none !important;
  }
  .authentication-section .authentication-body .authentication-card .logo-mobile {
    margin-bottom: 64px;
  }
}
