{% load static %}

<form hx-post="{% url 'signup' %}" hx-swap="outerHTML">
    {% csrf_token %}

    <h2>Create account</h2>
    <p class="text-muted fs-6">Let's get you started sharing your links!</p>

    <div class="my-4">
        <label for="email" class="form-label text-xs{% if signupForm.email.errors %} text-danger{% endif %}">Email address</label>
        <div class="input-group has-validation with-prepend-img">
            <span class="input-prepend-img"><img src="{% static 'images/icon-email.svg' %}" alt="email"></span>
            <input type="email" class="form-control{% if signupForm.email.errors %} border-danger{% endif %}" id="email" name="email" placeholder="e.g. alex@email.com" value="{{ signupForm.data.email }}">

            {% if signupForm.email.errors %}
                <div class="error-msg">{{ signupForm.email.errors.0 }}</div>
            {% endif %}
        </div>
    </div>

    <div class="mb-4">
        <label for="password1" class="form-label text-xs{% if signupForm.password1.errors %} text-danger{% endif %}">Create Password</label>

        <div class="input-group has-validation with-prepend-img">
            <span class="input-prepend-img"><img src="{% static 'images/icon-password.svg' %}" alt="password"></span>

            <input type="password" class="form-control{% if signupForm.password1.errors %} border-danger{% endif %}" id="password1" name="password1" placeholder="At least 8 characters" minlength="8">

            {% if signupForm.password1.errors %}
                <div class="error-msg">{{ signupForm.password1.errors.0 }}</div>
            {% endif %}
        </div>
    </div>

    <div class="mb-4">
        <label for="password2" class="form-label text-xs{% if signupForm.password2.errors %} text-danger{% endif %}">Confirm Password</label>

        <div class="input-group has-validation with-prepend-img">
            <span class="input-prepend-img"><img src="{% static 'images/icon-password.svg' %}" alt="password"></span>

            <input type="password" class="form-control{% if signupForm.password2.errors %} border-danger{% endif %}" id="password2" name="password2" placeholder="At least 8 characters" minlength="8">

            {% if signupForm.password2.errors %}
                <div class="error-msg">{{ signupForm.password2.errors.0 }}</div>
            {% endif %}
        </div>
    </div>

    <div class="d-grid">
        <button type="submit" class="btn btn-primary">Create new account</button>
    </div>

    <div class="mt-4 text-muted text-center">
        <p>Already have an account? <a href="{% url 'login' %}" class="text-decoration-none">Login</a></p>
    </div>
</form>